<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="BCM2WEB" />
        </element>
      </element>
      <element id="dir-copy" path="$PROJECT_DIR$/web" />
    </root>
  </artifact>
</component>